{% extends 'base.html' %}
{% block content %}
<h2 class="py-2">{{ genre.name }}</h2>
<h3 class="py-2">Books</h3>
{% if genre.books | count > 0 %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for book in genre.books %}
        <tr>
            <td>
                <a href="{{ url_for('book_details', id=book.id) }}">
                    {{ book.title }}
                </a>
            </td>
            <td>{{ book.author }}</td>
            <td>
                <a class="btn btn-danger" href="{{ url_for('book_delete', id=book.id) }}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no books that belong to this genre.</p>
{% endif %}
<br>
<a class="btn btn-primary" href="{{ url_for('genre_edit', id = genre.id) }}">Edit genre</a>
{% endblock %}